
@font-face {
    font-family: "iconfont";
    src: url('iconfont.eot?t=1498466492959'); /* IE9*/
    src: url('iconfont.eot?t=1498466492959#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('iconfont.woff?t=1498466492959') format('woff'), /* chrome, firefox */
    url('iconfont.ttf?t=1498466492959') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('iconfont.svg?t=1498466492959#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
    font-family:"iconfont" !important;
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-fenxiang:before { content: "\e600"; }

.icon-weibo:before { content: "\e61e"; }

.icon-shangshi:before { content: "\e610"; }

.icon-dizhi:before { content: "\e674"; }

.icon-qq:before { content: "\e618"; }

.icon-cshy-shizhong:before { content: "\e635"; }

.icon-yidonghulianwang:before { content: "\e67c"; }

.icon-logo-wechat:before { content: "\e619"; }

.icon-v:before { content: "\e625"; }

.icon-xueli:before { content: "\e612"; }

.icon-160:before { content: "\e637"; }

.icon-renshu:before { content: "\e6af"; }

.icon-shaoping:before { content: "\e608"; }

