<main  class="bg-gray">
    <div class="container select-search bg-white">
        <div class="row">
            <div class="company-search">
                <label>关键字：</label>
                <input type="text" ng-model="vm.name" placeholder="例如：IT修真院" class="company-input">
                <span ng-if="vm.name!=''" class="search-remind-word">当前关键字：{{vm.name}}</span>
            </div>
            <div class="company-search">
                <label>所在地区:</label>
                <a ng-repeat="list in vm.option.province"
                   ng-click="vm.checkboxMulti($index,vm.option.province)"
                   ng-class="{true:'default'}[list.choose]">{{list.name}}</a>
            </div>

            <div class="company-search">
                <label >融资规模:</label>
                <a ng-repeat="list in vm.option.financing"
                   ng-click="vm.checkboxMulti($index,vm.option.financing)"
                   ng-class="{true:'default'}[list.choose]">{{list.name}}</a>
            </div>
            <div class="company-search">
                <label>所属行业:</label>
                <a ng-repeat="list in vm.option.industry"
                   ng-click="vm.checkboxMulti($index,vm.option.industry)"
                   ng-class="{true:'default'}[list.choose]">{{list.name}}</a>
            </div>
        </div>
        <div class="search-btn">
            <button ng-click="vm.clear()">清空</button> <button ng-click="vm.search()" class="clear">搜索</button>
        </div>

    </div>
    <div class="container select-search box-bottom">
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12 company-main"
                 ng-repeat="companylist in vm.company track by $index" index="$index"
                 ui-sref="companyDescription.companyProduct({id:companylist.id})">
                <div class="border">
                    <div class="main-top">
                        <div class="top-left">
                            <span> </span>
                            <img ng-src="{{companylist.logo}}" alt="" class="company-img">
                        </div>
                        <div class="top-right">
                            <h4>{{companylist.name}}</h4>
                            <p>{{companylist.slogan}}</p>
                            <p><span class="job-red">{{companylist.professionNum}}</span>个在招职位</p>
                        </div>
                    </div>
                    <div class="bg-color">
                        <span>
                            <i class="iconfont">&#xe67c;</i>
                            <span >{{companylist.industryList|industryFilter}}</span>
                        </span>
                        <span>
                            <i class="iconfont ">&#xe616;</i>
                            <span >{{companylist.financing|financingFilter}}</span>
                        </span>
                        <span>
                            <i class="iconfont">&#xe674;</i>
                            <span>{{companylist.province|provinceFilter}}</span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <tm-pagination conf="paginationConf"></tm-pagination>
        </div>
        <not-find ng-if="vm.isNotFind" showrecommend="{{vm.isShowRecommend}}" size="3"></not-find>
    </div>
</main>